<% include partials/header %>
<div class="container">
    <form action="/evaluate" method="post">
        <div class="form-group">
            <input type="text" name="user" value=<%= user %>  >
        </div>
        <div class="form-group">
            <input type="text" name="truck" value="<%- truck %>" >
        </div>
        <div class="row">
            <div class="form-group">
                <label for="">Overall</label>
                <select  name="overall">
                    <option value=""/>
                    <option value="1">Very Good</option>
                    <option value="2">Good</option>
                    <option value="3">So-So</option>
                    <option value="4">Poor</option>
                    <option value="5">Very Bad</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Food Quality</label>
                <select  name="quality">
                    <option value=""/>
                    <option value="1">Very Good</option>
                    <option value="2">Good</option>
                    <option value="3">So-So</option>
                    <option value="4">Poor</option>
                    <option value="5">Very Bad</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Cleanliness</label>
                <select  name="cleanliness">
                    <option value=""/>
                    <option value="1">Very Good</option>
                    <option value="2">Good</option>
                    <option value="3">So-So</option>
                    <option value="4">Poor</option>
                    <option value="5">Very Bad</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <select  name="price">
                    <option value=""/>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                    <option value="5">$$$$$</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <textarea name="comment" rows="8" cols="80"></textarea>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<% include partials/footer %>
