<% include partials/header %>
<div>
    <h1>Posts Page</h1>
    <!-- <% trucks %> -->
    <table cellspacing=10>
        <header>
            <tr>
                <th>Food Truck</th>
                <th></th>
            </tr>
        </header>
        <body>
            <% trucks.forEach(function(truck) { %>
                <tr>
                    <td><%= truck %></td>
                    <td>
                        <button class="evaluateButton" > Evaluate </button>
                    </td>
                </tr>
            <%})%>
        </body>
    </table>
</div>
<% include partials/footer %>


<script type="text/javascript">
    var buttons = document.getElementsByClassName('evaluateButton');
    for(var i=0;i < buttons.length; i++){
        buttons[i].addEventListener('click', function (e){
            e.preventDefault();
            var truck = this.offsetParent.previousElementSibling.textContent;
            document.location.assign('/evaluate/'+truck);
        })
    }
</script>
