body {
  color: dark-gray;
}
.form-group {
    margin-top:5vh;
    margin-left: 5vw;
}
.row{
}
.container{
    margin-left: 5vw;
}
.box{
    margin-left: 1vw;
    background-color: #fdfdfd;
}
#summaryData{
    display: inline-flex;
}

@media screen(max-width=690){
    body{
        width: 75%;
        font-size: 2vw;
    }
}
@media screen(min-width=690){
    body{
        width: 75%;
        font-size: 3vw;
    }
}
